.container {
    margin: 50px 200px;
}

.highlight {
    color: #11999E;
}

.container h2 {
    margin: 0px;
}

.container p {
    padding-left: 2px;
    line-height: 1.5;
}
.container a{
    text-decoration: none;
    color: #11999E;
}
.link {
    text-decoration: none;
    color: #11999E;
}

.link:hover {
    color: #66BFBF;
}

@media (max-width:900px) {
    .container h1 {
        font-size: 1.5rem;
    }

    .container {
        margin: 50px 30px;
    }
}